# Shortcut
alias clr='clear'
alias shutdown='sudo shutdown now'
alias reboot='sudo shutdown -r'
alias open='xdg-open'
alias la='ls -a'

# adding flags
alias rm='rm -i'
alias df='df -h'
alias free='free -m'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# System Controls
alias vol='amixer get Master'
alias volset='amixer -D pulse sset Master'
alias bright='cd /sys/class/backlight/intel_backlight && echo "NOW DO - echo XXX | sudo tee brightness"'

# apt
alias update='sudo apt update && sudo apt upgrade'
alias autoremove='sudo apt autoremove'
alias install='sudo apt install'
alias purge='sudo apt purge'

# git commands
alias gc='git clone '
alias gcom='git add . && git commit -m '
alias gp='git push'
alias grest='git restore --staged '

# Application specific
alias tb='~/thunderbird/thunderbird'

# the terminal rickroll 
alias rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash' 
