# Shortcut
alias rm='rm -i'
alias clr='clear'
alias shutdown='sudo shutdown now'
alias open='xdg-open'

# System Controls
alias vol='amixer get Master'
alias volset='amixer -D pulse sset Master'
alias bright='cd /sys/class/backlight/intel_backlight && echo "NOW DO - echo XXX | sudo tee brightness"'

# Updatation and Installation
alias update='sudo apt update && sudo apt upgrade'
alias autoremove='sudo apt autoremove'
alias install='sudo apt install'

# git commands
alias gc='git clone '
alias gcom='git add . && git commit -m '
alias gp='git push'
alias grest='git restore --staged '

# Application specific
alias tb='~/thunderbird/thunderbird'
